{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'workouts/workout.css' %}">
    <link rel="stylesheet" href="{% static 'navbar/navbar.css' %}">
    <title>hamstring Workout</title>
</head>

<body>


    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Limitless</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="row">
                    <ul class="navbar-nav">

                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'home' %}">Home</a>
                        </li>

                        <li class="nav-item active">
                            <a class="nav-link" href="#">Workout</a>
                        </li>

                        <li class="nav-item active">
                            <a class="nav-link" href="#">Profile</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </nav>

 
    <!-- Add the form for adding workout records -->
    <div class="container w-100 mt-4">
        <div class="row" style="margin-top: 8vh;">
            <div class="col-md-4" >
                <div class="card photo-card">
                    <div class="card-body">
                        <div class="col-auto">
                            <img id="muscle-img" src="{% static 'workouts/CHEST.png' %}" alt="Chest Image"
                                width="100%">
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-4 ml-4" style="margin-left: 3rem; margin-right: 3rem;">
                <div class="row mt-4 mb-5">
                    <p>Start a workout and log it here</p>
                    <h1>hamstring</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget nulla mauris. In eget risus mauris. Vestibulum placerat lectus in odio blandit lobortis  </p>
                </div>
                <div class="row">
                    <h3>Workout</h3>
                    <p>Lorem ipsum dolor sit amet</p>
                    <hr style="width:50%;text-align:left;margin-left:2">
                    <form method="post" action="{% url 'hamstring_workout' muscle='hamstring' %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="row mt-4">
                            <div class="col">
                                <button type="submit" class="btn btn-primary">Add Record</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row" style="margin-top: 9vh;">
                    <h3>Suggested Excercises</h3>
                    <ul class="list-unstyled">
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Lorem ipsum dolor sit amet</li>
                    </ul>
                    <a href="#">Learn More</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row mb-5 mt-2">
                    <div class="card side-card" style="padding-left: 1.5rem;">
                        <div class="card-title mt-3 ml-3"><h4>Previous Workout</h4></div>
                        <div class="card-body">
                            {% if recent_workout %}
                                <p>Reps: {{ recent_workout.reps }}</p>
                                <p>Sets: {{ recent_workout.sets }}</p>
                            {% else %}
                                <p>No previous workout recorded.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="card side-card" style="padding-left: 1.5rem;">
                        <div class="card-title mt-3 ml-3"><h4>Workout Goals</h4></div>
                        <div class="card-body">
                            <ul>
                                {% for goal in incomplete_goals %}
                                <li>{{ goal.description }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                         
                <div class="row mb-5">
                    <div class="card side-card" style="padding-left: 1.5rem;">
                        <div class="card-title mt-3 ml-3"><h4>Change Muscle</h4></div>
                        <div class="card-body">
                            <a href="{% url 'home' %}" class="stretched-link card-link">Go somewhere</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>