{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'homepage/home.css' %}">
    <link rel="stylesheet" href="{% static 'workouts/workout.css' %}">
    <link rel="stylesheet" href="{% static 'navbar/navbar.css' %}">
    <title>tricep Workout</title>
</head>

<body>


    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Limitless</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="row">
                    <ul class="navbar-nav">

                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'home' %}">Home</a>
                        </li>

                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'workout_page' %}">Workout</a>
                        </li>

                        <li class="nav-item active">
                            <a class="nav-link" href="#">Profile</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <div class="container mt-4">

        <div class="row" style="margin-top: 10vh;">

            <div class="col-lg-6">
                <!--MAIN STUFF,,, SELECT MUSCLE-->
                <div class="card custom-card">
                    <div class="card-body">
                        <h5 class="card-title">Select Muscle Group</h5>
                        <div class="row justify-content-center mt-4">
                            <div class="col-auto">
                                <img id="muscle-img" src="{% static 'workouts/MUSCLE.png' %}" alt="Chest Image"
                                    width="600vw">
                            </div>
                        </div>
                        <div class="row mt-5 muscle-buttons">
                            <div class="col-md-3 mb-3">
                                <a href="{% url 'chest_workout' muscle='chest' %}"
                                    class="btn btn-primary btn-lg btn-block" onmouseover="changeImage('chest')"
                                    onmouseleave="changeImage('normal')">Chest</a>
                            </div>
                            <div class="col-md-3 mb-3">
                                <a href="{% url 'back_workout' muscle='back' %}"
                                    class="btn btn-primary btn-lg btn-block" onmouseover="changeImage('back')"
                                    onmouseleave="changeImage('normal')">Back</a>
                            </div>
                            <div class="col-md-3 mb-3">
                                <a href="{% url 'bicep_workout' muscle='bicep' %}"
                                    class="btn btn-primary btn-lg btn-block">Bicep</a>
                            </div>
                            <div class="col-md-3 mb-3">
                                <a href="{% url 'tricep_workout' muscle='tricep' %}"
                                    class="btn btn-primary btn-lg btn-block">Tricep</a>
                            </div>
                            <div class="col-md-3 mb-3">
                                <a href="{% url 'delts_workout' muscle='delts' %}"
                                    class="btn btn-primary btn-lg btn-block">Delts</a>
                            </div>
                            <div class="col-md-3 mb-3">
                                <a href="{% url 'quads_workout' muscle='quads' %}"
                                    class="btn btn-primary btn-lg btn-block">Quads</a>
                            </div>
                            <div class="col-md-3 mb-3">
                                <a href="{% url 'hamstring_workout' muscle='hamstring' %}"
                                    class="btn btn-primary btn-lg btn-block">Hamstring</a>
                            </div>
                            <div class="col-md-3 mb-3">
                                <a href="{% url 'glutes_workout' muscle='glutes' %}"
                                    class="btn btn-primary btn-lg btn-block" onmouseover="changeImage('glutes')"
                                    onmouseleave="changeImage('normal')">Glutes</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-6">
                <div class="row p-0">
                    <div class="card shadow-2-strong p-0">
                      <div class="card-body p-0">
                        <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true" style="position: relative; height: 35vh">
                          <table class="table table-dark mb-0" style="background-color: #1e1e24;">
                            <thead style="background-color: #1e1e24;">
                              <tr class="text-uppercase text-success">
                                  <th scope="col">Date</th>
                                <th scope="col">Muscle</th>
                                <th scope="col">Sets</th>
                                <th scope="col">Repetitions</th>
                                <th scope="col">Weight</th>
                              </tr>
                            </thead>
                            <tbody>
                            {% for workout in recent_workouts %}
                            <tr onmouseover="changeImage('{{ workout.workout_type }}')" onmouseleave="changeImage('normal')">
                                <td>{{ workout.created_at|date:"F d" }}</td>
                                <td>{{ workout.workout_type|capfirst }}</td>
                                <td>{{ workout.reps }}</td>
                                <td>{{ workout.sets }}</td>
                                <td>N/A</td>
    
                            </tr>
                            {% endfor %}
                        </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                      <div class="card mt-2" style="height: 25vh;">
  
                      </div>
                  </div>
                </div>




        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'homepage/home.js' %}"></script>
</body>

</html>