body {
    background-image: url(../background.svg);
}

.container{
    margin-top: 5vh;
    text-align: center;

}

.site-info {
    margin-bottom: 5vh;
    font-family: "indivisible", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: white;
}
.profile-img{
    border-radius: 50%;
    width: 450px;

}

.profile-name{
    margin-top: 5vh;
    font-family: "indivisible", sans-serif;
    font-weight: 800;
    font-style: normal;
    color: #e68e87;
}

.profile-info{
    margin-bottom: 5vh;
    font-family: "indivisible", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: white;
}
.stats{
    font-family: "indivisible", sans-serif;
    font-weight: 800;
    font-style: normal;
    color: #e68e87;
}
.stats-row{
    align-items: center;
    justify-content: center;
    font-family: "indivisible", sans-serif;
    font-weight: 800;
    font-style: normal;
    color: #e68e87;
}

h5{
    color: white;
}