body {
    background-image: url(../background.svg);
}

.custom-card {
    height: 70vh; /* Set your desired height */
    max-height: 900px;
}

.muscle-buttons .btn {
    width: 100%; /* Make buttons fill their container */
    text-align: center; /* Horizontally center the text */
    height: 50px;
    font-size: 18px;
    background-color: #1e1e24;
    border: none;
    transition: background-color 0.3s; /* Add transition for smooth color change */
}

.muscle-buttons .btn:hover {
    background-color: #fb9f89; /* Change background color on hover */
}

/* Center the buttons horizontally */
.muscle-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
